body {
    background-color: darkred;

}

h1 {color: white;
    text-align: center;
	    font-size: 50px;
}
ul{
	list-style-type; 44px;
	padding: 0;
	overflow: hidden;
	background-color: black;	
	border: 5px dotted;
	float: ;
}
p {
	background-color:gold;
    font-family: verdana;
    font-size: 20px;
	margin: 74;
}


li{
}
li a {
display: inline-block;
color: white;
text-align: center;
padding: 25px
text-decoration: none;
}

<style>
div.background {
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
</style>
</head>
<body>

<div class="background">
  <div class="transbox">
    <p>This is some text that is placed in the transparent box.</p>
  </div>
</div>

