body {
    background-color: darkred;

}

h1 {color: silver;
    text-align: center;
	    font-size: 50px;
}
ul{
	list-style-type; 44px;
	padding: 0;
	overflow: hidden;
	background-color: Black;	
	border: 5px dotted;
	float: center;
	
}
p {
	color: silver;
    font-family: "Verdana";
    font-size: 25px;
	margin: auto;
	margin: 10px 150px 10px 150px
}

nav {
    margin-bottom: 50px;
}
 
nav li {
    display: inline-block;
}
 
nav ul {
    text-align: center;
}
 
nav.block-element ul {
    display: block;
    margin: auto;
    width: 50%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li{
}
li a {
display: inline-block;
color: white;
text-align: center;
padding: 25px
text-decoration: none;
}

<style>
div.background {
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
</style>
</head>
<body>

<div class="background">
  <div class="transbox">
    <p>This is some text that is placed in the transparent box.</p>
  </div>
</div>

